<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="novahub.vn.npr4dogs">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign_in.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_a_dog.AddADogActivity"
            android:label="@string/title_activity_add_adog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".piles.PilesActivity"
            android:label="@string/title_activity_piles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".resident.ResidentActivity"
            android:label="@string/title_activity_resident"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".card_io.ScanCardIOActivity"
            android:label="@string/title_activity_scan_card_io"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scan_barcode.ScanBarcodeActivity"
            android:label="@string/title_activity_scan_barcode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".take_photo.TakeAPhotoActivity"
            android:label="@string/title_activity_take_aphoto"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>